* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
:root {
  /* 1728rem */
  font-size: 0.0694444444444444vw; /* 1/1440rem*100 = 1rem at 1440rem screen */
  /* font-size: 1rem; */
}
@media screen and (min-width: 1920rem) {
  :root {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991rem) {
  :root {
    font-size: 0.1009081735620585vw; /* 1/991rem*100 = 1rem at 991rem */
  }
}

@media screen and (max-width: 768rem) {
  :root {
    font-size: 0.21052631578947371vw;
  }
}
button {
  border: none;
  border-radius: 3rem;
}
.container {
  width: 100%;
  max-width: 1306rem;
  margin-inline: auto;
  padding-inline: 80rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30rem;
}
.main {
  overflow: hidden;
  font-size: 16rem;
  line-height: 24rem;
  font-weight: 400;
}
.txt-h1 {
  font-size: 100rem;
  line-height: 110%;
  letter-spacing: -1.8rem;
  font-weight: 700;
}
.txt-h2 {
  font-size: 70rem;
  line-height: 110%;
  font-weight: 700;
}
.txt-h3 {
  font-size: 20rem;
  line-height: 36rem;
  font-weight: 400;
}
.txt-h4 {
  font-size: 14rem;
  line-height: 22rem;
  font-weight: 400;
  color: #757575;
}
.txt-h5 {
  font-size: 12rem;
  line-height: 18rem;
  font-weight: 400;
  color: #757575;
}
img {
  width: 100%;
  height: auto;
}
/* Home menu */
.home-menu {
  background: linear-gradient(to bottom, #000000 0%, #000000 100%);
  padding-top: 29rem;
  padding-bottom: 29rem;
  color: #ffffff;
}
.home-menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-menu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-menu-infor {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home hero */
.home-hero {
  padding-top: 100rem;
  background-color: #000000;
  padding-bottom: 150rem;
  color: #ffffff;
}
.home-hero-content {
  grid-column: 2/12;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 3;
}
.home-hero-video {
  grid-column: 2/12;
  position: relative;
  z-index: 2;
  transform: translateY(-46rem);
  width: 100%;
  height: auto;
  transition: all 400ms ease;
  backface-visibility: hidden;
}
.home-hero-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(8, 8, 8, 0) 53%,
    rgba(8, 8, 8, 1) 100%
  );
  pointer-events: none;
  will-change: transform;
}
.hero-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: translateZ(0);
}
.img-hero-video {
  max-width: 950rem;
}
.home-hero-partners {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80rem;
  margin-left: auto;
  margin-right: auto;
}
.img-partners {
  background-color: #080808;
  opacity: 0.5;
}

/* Home experts */
.home-experts {
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 120rem;
}

/* home experts content */
.home-experts-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.experts-content-speakers {
  grid-column: 1/3;
  padding-top: 23rem;
}
.img-cross-cut {
  grid-column: 3/3;
  margin-top: 39rem;
}
.experts-content-header {
  grid-column: 4/13;
  max-width: 558rem;
  margin-bottom: 40rem;
}
.experts-content-intro {
  grid-column: 4/13;
  max-width: 588rem;
  margin-bottom: 30rem;
}
.experts-content-view-all {
  grid-column: 4/-1;
  margin-bottom: 40rem;
}
.img-cross-cut-orange {
  width: 59rem;
}

/* home experts vector */
.home-experts-vector {
  margin-bottom: 40rem;
}
.experts-vector-arrow {
  grid-column: 11/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24rem;
  margin-left: 6rem;
  width: 100%;
}
.left-arrow {
  width: 68rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-left: 6rem;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.right-arrow {
  width: 68rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.img-arrow {
  width: 16rem;
  aspect-ratio: 1/1;
}
.img-arrow.right {
  transform: scaleX(-1);
}
.arrow {
  transition: all 0.3s ease;
}
.arrow:hover {
  background-color: #ff7155;
  cursor: pointer;
}
.arrow.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.4;
}

/* home experts showcase */
.home-experts-showcase-main {
  grid-column: 4/-1;
  width: 100%;
}
.home-experts-showcase-main.swiper {
  overflow: visible;
}

.home-experts-showcase-full {
  /* padding-right: 30rem; */
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* gap: 30rem; */
  position: relative;
  overflow: visible;
}
.home-experts-showcase-full::-webkit-scrollbar {
  display: none;
}
.home-experts-showcase-full .swiper-slide {
  padding-bottom: 28rem;
  flex: none;
  width: 100%;
  scroll-snap-align: start;
  border-bottom: 1rem solid rgba(117, 117, 117, 1);
}
.home-experts-showcase-full .swiper-slide:hover {
  border-bottom: 1rem solid rgba(255, 113, 85, 1);
  color: #ff7155;
  opacity: 1;
}
.img-speakers {
  object-fit: cover;
  width: 100%;
  margin-bottom: 24rem;
  background: linear-gradient(
    to bottom,
    rgba(8, 8, 8, 0) 51%,
    rgba(8, 8, 8, 1) 91%
  );
  opacity: 0.6;
}
.swiper-slide:hover .img-speakers {
  opacity: 1;
}
.speaker-name {
  margin-bottom: 5rem;
}

/* home courses */
.home-courses {
  background-color: #f9f9f9;
  color: #181818;
  padding-top: 150rem;
}

/* home courses content */
.home-courses-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60rem;
}
.courses-content-speakers {
  grid-column: 1/1;
  margin-top: 30rem;
}
.img-cross-cut.courses {
  grid-column: 3/3;
  margin-top: 46rem;
  background-color: #181818;
  opacity: 0.5;
}
.courses-content-header {
  grid-column: 4/13;
  max-width: 559rem;
  margin-bottom: 40rem;
}
.courses-content-intro {
  grid-column: 4/13;
  max-width: 588rem;
  margin-bottom: 50rem;
}
.home-courses-pricing {
  grid-column: 4/13;
  max-width: 600rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100rem;
}
.home-courses-pricing-item sup {
  font-size: 16rem;
  line-height: 24rem;
  font-weight: 400;
}
.pricing-amount {
  color: #ff7155;
  font-size: 36rem;
  line-height: 54rem;
  font-weight: 600;
  margin-bottom: 10rem;
}
.home-courses-categories {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60rem;
  column-gap: 30rem;
}
.categories-item:hover {
  color: #ff7155;
}
.home-courses-video {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home-courses-video-circle {
  width: 120rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-courses-video-circle-polygon {
  width: 35.68rem;
  height: 30.81rem;
  clip-path: polygon(25% 10%, 100% 50%, 25% 90%);
  background-color: #ffffff;
}

/* home courses related */
.home-courses-related {
  gap: 30rem;
  padding-bottom: 120rem;
}
.home-courses-related-content {
  grid-column: 1/-1;
  margin-bottom: 30rem;
  color: #757575;
}
.home-courses-related-main {
  grid-column: 1/-1;
  width: 100%;
}
.home-courses-related-main.swiper {
  transition: all 400ms ease;
}
.home-courses-related-main.swiper-slide {
  overflow: visible;
}
.home-courses-related-all {
  display: flex;
  row-gap: 60rem;
  position: relative;
  overflow: visible;
}
.home-courses-related-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}
.home-courses-related-card:hover {
  box-shadow: 0rem 24rem 60rem 0rem rgba(0, 0, 0, 0.12);
}
.home-courses-related-main {
  margin-bottom: 60rem;
}
.home-courses-related-card.two {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-courses-related-card.three {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-courses-related-card-img {
  position: relative;
  z-index: 2;
}
.img-related {
  width: 100%;
  max-width: 362rem;
  background: linear-gradient(
    to bottom,
    rgba(8, 8, 8, 0) 51%,
    rgba(8, 8, 8, 1) 91%
  );
}
.home-courses-related-card-details {
  padding: 24rem 16rem;
  position: relative;
  z-index: 3;
}
.home-courses-related-card:hover .home-courses-related-card-details {
  transform: translateY(-80rem);
  position: relative;
  z-index: 3;
  background-color: #ffffff;
  transition: all 400ms ease;
}
.related-card-category {
  width: 100%;
  max-width: 58rem;
  color: #3a3a3a;
  font-size: 12rem;
  line-height: 18rem;
  letter-spacing: 2.4rem;
  font-weight: 700;
  margin-bottom: 16rem;
  box-shadow: 0rem 3rem 0rem 0rem #ff7155;
}
.related-card-intro {
  margin-top: 16rem;
  display: flex;
  align-items: center;
}
.img-related-avatar {
  width: 32rem;
  aspect-ratio: 1/1;
  margin-right: 10rem;
}
.related-card-intro-name {
  font-weight: 600;
  color: #3a3a3a;
}
.home-courses-related-action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;
  opacity: 0;
  position: absolute;
  bottom: -56rem;
}
.home-courses-related-card:hover .home-courses-related-action-buttons {
  opacity: 1;
  bottom: 24rem;
  transition: all 400ms ease;
}
.action-buttons:hover {
  cursor: pointer;
  box-shadow: 0 6rem 10rem rgba(0, 0, 0, 0.3);
  transition: all 400ms ease;
}
.buy-now {
  width: 186rem;
  height: 60rem;
  background-color: #ff7155;
  color: #ffffff;
}
.icon-button {
  width: 60rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-icon {
  width: 24rem;
  aspect-ratio: 1/1;
}
.home-courses-related-view-all {
  grid-column: 6/8;
  background-color: #ff7155;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166rem;
  height: 59rem;
  border-radius: 3rem;
}
.home-courses-related-view-all:hover {
  cursor: pointer;
  box-shadow: 0 6rem 10rem rgba(0, 0, 0, 0.3);
  transition: all 400ms ease;
}
.related-view-all-button {
  color: #ffffff;
  background-color: #ff7155;
}

/* home courses upcoming */
.home-courses-upcoming {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-upcoming-img {
  grid-column: 1/7;
}
.courses-upcoming-img {
  margin-left: -147rem;
}
.img-upcoming {
  width: 705rem;
  height: 730rem;
}
.courses-upcoming-all {
  grid-column: 7/-1;
  justify-self: end;
  width: 100%;
  max-width: 518rem;
}
.courses-upcoming-title {
  font-size: 48rem;
  line-height: 125%;
  font-weight: 600;
  color: #757575;
  opacity: 0.2;
  margin-top: 60rem;
  margin-bottom: 30rem;
}
.courses-upcoming-category {
  width: 100%;
  max-width: 58rem;
  color: #3a3a3a;
  font-size: 12rem;
  line-height: 18rem;
  letter-spacing: 2.4rem;
  font-weight: 700;
  box-shadow: 0rem 3rem 0rem 0rem #ff7155;
  margin-bottom: 30rem;
}
.courses-upcoming-content {
  width: 100%;
  max-width: 518rem;
  font-size: 36rem;
  font-weight: 600;
  line-height: 54rem;
  color: #181818;
  margin-bottom: 30rem;
}
.courses-upcoming-instructor {
  margin-bottom: 42rem;
  display: flex;
  align-items: center;
}
.img-avatar-upcoming {
  width: 48rem;
  aspect-ratio: 1/1;
  margin-right: 16rem;
}
.upcoming-instructor-name {
  font-weight: 600;
  color: #3a3a3a;
}
.upcoming-notification {
  color: #ff5d3d;
  font-size: 12rem;
  line-height: 18rem;
  margin-bottom: 8rem;
  font-weight: 700;
  letter-spacing: 2.4rem;
}
.upcoming-date {
  font-size: 28rem;
  line-height: 32rem;
  font-weight: 600;
  color: #181818;
  margin-bottom: 30rem;
}
.courses-upcoming-subscription {
  display: flex;
  align-items: center;
}
.upcoming-subscription-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 322rem;
  height: 60rem;
  border: 1rem #e8e8e8;
  margin-right: 16rem;
  border: 1rem solid #e8e8e8;
  padding-left: 16rem;
  border-radius: 3rem;
}
.upcoming-subscription-label {
  color: #181818;
  opacity: 0.5;
  font-size: 12rem;
  line-height: 18rem;
  font-weight: 400;
}
.upcoming-subscription-email {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  color: #181818;
}
.upcoming-subscription-button {
  width: 150rem;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34a853;
  border-radius: 3rem;
}
.upcoming-subscription-button:hover {
  cursor: pointer;
  box-shadow: 0 6rem 10rem rgba(0, 0, 0, 0.3);
  transition: all 400ms ease;
}
.upcoming-subscription-button:hover .upcoming-subscription-button-green {
  cursor: pointer;
}
.upcoming-subscription-button-green {
  background-color: #34a853;
  color: #ffffff;
  font-weight: 600;
}

/* home-aurora */
.home-aurora {
  padding-top: 110rem;
  background-color: #000000;
  color: #ffffff;
  position: relative;
}
/* home aurora apart */
.home-aurora-apart {
  padding-bottom: 172rem;
}
.aurora-apart-circle-orange {
  width: 710rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #ff7155;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110rem;
  margin-left: -355rem;
}
.aurora-apart-cross-cut {
  grid-column: 1/2;
  position: relative;
  z-index: 2;
  margin-top: 194rem;
}
.aurora-apart-all {
  grid-column: 2/6;
  width: 100%;
  max-width: 362rem;
  position: relative;
  z-index: 2;
  margin-top: 154rem;
}
.aurora-apart-list {
  grid-column: 7/12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 102rem;
}
.img-list {
  width: 64rem;
  aspect-ratio: 1/1;
  margin-right: 34rem;
}
.apart-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40rem;
}
.list-title {
  margin-bottom: 20rem;
}
.aurora-apart-list .txt-h4 {
  color: #ffffff;
  opacity: 0.8;
}
.list-txt {
  padding-bottom: 32rem;
  border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
}

/* home aurora testimonials */
.home-aurora-testimonials {
  position: relative;
  padding-bottom: 160rem;
}
.home-aurora-testimonials-icon {
  position: absolute;
  z-index: 1;
  top: 153rem;
  left: 0;
  right: 0;
}
.home-aurora-testimonials-mask {
  position: absolute;
  z-index: 1;
  top: -8rem;
  right: -145.91rem;
}
.aurora-testimonials-main {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.aurora-testimonials-slide {
  margin-bottom: 30rem;
}
.aurora-testimonials-all {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.aurora-testimonials-all.swiper-slide-next,
.aurora-testimonials-all.swiper-slide-prev {
  opacity: 0.4;
}
.testimonials-all-title {
  margin-bottom: 40rem;
  opacity: 0.1;
}
.testimonials-all-content {
  margin-bottom: 60rem;
  width: 100%;
  max-width: 618rem;
}
.img-testimonials-avatar {
  width: 48rem;
  aspect-ratio: 1/1;
  margin-bottom: 12rem;
}
.testimonials-all-name {
  margin-bottom: 2rem;
  font-weight: 600;
  color: #f9f9f9;
}
.testimonials-all-job {
  font-size: 12rem;
  line-height: 18rem;
  font-weight: 400;
  color: #757575;
  margin-bottom: 30rem;
}
.testimonials-all-circle-small {
  width: 100%;
  max-width: 64rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet {
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #3a3a3a;
  opacity: 1;
}
.swiper-pagination-bullet:hover {
  background-color: #ff7155;
}
.swiper-pagination-bullet-active {
  background-color: #ff7155;
}
.testimonials-all-circle-small.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: initial;
}
/* home aurora subscribe */
.home-aurora-subscribe {
  padding-bottom: 54rem;
}
.home-aurora-subscribe-img {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}
.img-aurora-subscribe {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(8, 8, 8, 1) 97%
  );
  opacity: 0.7;
}
.home-aurora-subscribe-all {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 43rem;
  position: relative;
  z-index: 2;
}
.aurora-subscribe-email {
  margin-bottom: 25rem;
  width: 70rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1rem solid #ff7155;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-subscribe-email {
  width: 26rem;
  aspect-ratio: 1/1;
}
.aurora-subscribe-txt {
  margin-bottom: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe-txt-title {
  margin-bottom: 30rem;
  width: 100%;
  max-width: 615rem;
}
.subscribe-txt-content {
  opacity: 0.8;
}
.aurora-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe-button-email {
  width: 380rem;
  height: 69rem;
  border-radius: 35rem;
  backdrop-filter: blur(10rem);
  position: relative;
  z-index: 2;
  padding-left: 33rem;
}
.subscribe-button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58rem;
  height: 57rem;
  border-radius: 50%;
  background-color: #ff7155;
  margin-left: -63rem;
  position: relative;
  z-index: 3;
}
.subscribe-button-submit:hover {
  cursor: pointer;
  transform: scale(0.95);
  box-shadow: 0 8rem 15rem rgba(0, 0, 0, 0.25);
  transition: all 400ms ease;
}
.img-submit-arrow {
  width: 19.6rem;
  height: 13.8rem;
}

/* home aurora footer */
.home-aurora-footer {
  padding-top: 90rem;
  padding-bottom: 70rem;
}
.aurora-footer-logo {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  margin-bottom: 27rem;
}
.img-footer-logo {
  width: 167rem;
  margin-right: 29rem;
}
.footer-logo-dash {
  border-bottom: 1rem solid #3a3a3a;
  width: 952rem;
}
.aurora-footer-info {
  grid-column: 1/6;
}
.footer-info-office {
  color: #757575;
  margin-bottom: 20rem;
}
.aurora-footer-info .txt-h5 {
  margin-bottom: 8rem;
}
.footer-info-security {
  display: flex;
  align-items: center;
  margin-bottom: 102rem;
}
.info-security-email {
  margin-right: 40rem;
}
.aurora-footer-links {
  grid-column: 1/6;
  display: flex;
  align-items: center;
  column-gap: 10rem;
}

.aurora-footer-links .info {
  width: 46rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.05);
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.aurora-footer-links .info:hover {
  transition: all 499ms ease;
  transform: scale(1.2);
  box-shadow: 0 8rem 15rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.aurora-footer-links .img {
  position: relative;
  z-index: 3;
}
.img-youtube {
  width: 20rem;
  aspect-ratio: 1/1;
}
.img-face-ins {
  width: 18rem;
  aspect-ratio: 1/1;
}
.aurora-footer-select {
  grid-column: 7/-1;
  column-gap: 134rem;
  display: flex;
  grid-row: 2/3;
}
.aurora-footer-column {
  display: flex;
  flex-direction: column;
  row-gap: 47rem;
}
.footer-column-txt {
  padding: 0;
  cursor: pointer;
  transition: all 400ms ease;
}
.footer-column-txt.active {
  color: #ffffff;
  padding-bottom: 5rem;
  border-bottom: 1rem solid #ff7155;
  transition: all 400ms ease;
}
.aurora-footer-details {
  grid-column: 7/-1;
  display: flex;
  align-items: center;
  column-gap: 115rem;
}
.aurora-footer-language {
  display: flex;
  align-items: center;
  column-gap: 8rem;
  font-weight: 600;
}
.footer-language {
  cursor: pointer;
}
.footer-language.active {
  color: #ffffff;
  padding-bottom: 5rem;
  border-bottom: 1rem solid #ff7155;
  transition: all 400ms ease;
}
